/** Estilos para el carrusel de herramientas y testimonios, así como para las tarjetas de herramientas y testimonios.
*/
.marquee-container{
    overflow:hidden;
    width:100%;
}

.marquee-track{
    display:flex;
    gap:24px;
    align-items:center;
    width:max-content;
    will-change:transform;
}


.marquee-container{
    overflow:hidden;
    width:100%;
}

.marquee-track{
    display:flex;
    gap:24px;
    width:max-content;
}

.tool-card{
    min-width:180px;
    background:#18181b;
    border:1px solid #27272a;
    border-radius:20px;
    padding:24px;
    text-align:center;
    transition:.3s;
}

.tool-card:hover{
    transform:translateY(-8px);
    border-color:#10b981;
    box-shadow:0 0 25px rgba(16,185,129,.25);
}

.tool-card i{
    font-size:3rem;
    margin-bottom:12px;
}

.tool-card p{
    font-weight:600;
}


.green-glow {
  text-shadow: 0 0 15px rgb(16 185 129);
}

.fondo-hero {
  background-image: url('./img/fono1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.educacion-section {
  background-image: url('./img/fondo3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.testimonial-card{
    background:#18181b;
    border:1px solid #3f3f46;
    border-radius:24px;
    padding:32px;
    min-height:320px;

    transition:all .4s ease;
}

.testimonial-card:hover{
    transform:translateY(-10px);
    border-color:#10b981;
    box-shadow:0 15px 35px rgba(16,185,129,.25);
}

.testimonial-card img{
    transition:.4s;
}

.testimonial-card:hover img{
    transform:scale(1.15);
}